body{
	background-color: #E3E3E3;
}

.dropShadow{
	box-shadow: 10px 10px 5px #888888;
	margin-top: 2%;
}

.loginMinHeight{
	min-height: 700px;
}

html,body{height:100%;}

.container {
    height:100%;
}

textarea {
	resize:vertical;
}

.fullBody{
	 height:100%;
	 min-height: 100%;
}

.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 60px;
    overflow: auto;
}

#searchPanel{
	box-shadow: 1px 1px 8px #888888 inset;
	min-height:500px;
}
