<div ng-controller="createUserController" class="container-fluid">
	<div class="row">
		<!--Start of Contact module-->
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-1 col-xs-1"></div>
				<div class="col-md-10 col-xs-10 dropShadow loginMinHeight"  style="background-color:white;">
					<span class="h1">Create {{usertype}} Account</span>
					<br/>
					<div id="errorMessage" class="alert alert-danger" ng-show="errorMessage">
						{{message}}
					</div>
					<div id="alertMessage" class="alert alert-success" ng-show="crMessage">
						{{message}}
					</div>
					<br/>
					<br/>
					<form class="form-horizontal" name="myForm" ng-submit="myForm.$valid && (user.password == user.reEnterPass) && submit()">
						<div class="form-group">
							<label class="col-md-4 control-label" ></a>First Name:</label>
							<div class="col-md-8 controls">
								<span class="label label-danger" ng-show="myForm.userFirstNameBox.$error.required && myForm.userFirstNameBox.$dirty">Required!</span>
								<input name="userFirstNameBox" type="text" ng-model="user.firstName" class="form-control" placeholder="First Name" required />
							</div>
						</div>
						<div class="form-group">
							<label for="userLastNameBox" class="col-md-4 control-label" ></a>Last Name:</label>
							<div class="col-md-8">
								<span class="label label-danger" ng-show="myForm.userLastNameBox.$error.required && myForm.userLastNameBox.$dirty">Required!</span>
								<input name="userLastNameBox" type="text" ng-model="user.lastName" class="form-control" placeholder="Last Name"required/>
							</div>
						</div>
						<div class="form-group">
							<label for="emailBox" class="col-md-4 control-label" >CalU Email Address:</label>
							<div class="col-md-8">
								<span class="label label-danger" ng-show="myForm.emailBox.$error.required && myForm.emailBox.$dirty">Required!</span>
								<span class="label label-danger" ng-show="myForm.emailBox.$error.pattern && myForm.emailBox.$dirty">Invalid Email Name!</span>
							<div class="input-group">	
								<input name="emailBox" type="text" ng-model="user.loginId" class="form-control" placeholder="CalU Email Address" required ng-pattern="emailRegex"/>
								<span class="input-group-addon">{{emailExt}}</span>
							</div>
							</div>
						</div>
						<div class="form-group">
							<label for="passwordBox1" class="col-md-4 control-label" >Password:</label>
							<div class="col-md-8">
								<span class="label label-danger" ng-show="myForm.passwordBox1.$error.required && myForm.passwordBox1.$dirty">Required!</span>
								<span class="label label-danger" ng-show="myForm.passwordBox1.$error.minlength && myForm.passwordBox1.$dirty">Password is not long enough!</span>
								<input name="passwordBox1" type="password" ng-minlength="6" ng-model="user.password" class="form-control" placeholder="Password" required/>
							</div>
						</div>
						<div class="form-group">
							<label for="phoneNumBox" class="col-md-4 control-label" >Confirm Password:</label>
							<div class="col-md-8">
								<span class="label label-danger" ng-show="myForm.passwordBox2.$error.required && myForm.passwordBox2.$dirty">Required!</span>
								<span class="label label-danger" ng-show="(user.password != user.reEnterPass) && myForm.passwordBox2.$dirty">Passwords don't match!</span>
								<input name="passwordBox2" type="password" ng-minlength="6" ng-model="user.reEnterPass" ng-match="user.password"class="form-control" placeholder="Confirm Password" required/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-4 col-md-10">
								<input type="submit"value="Submit" class="btn btn-primary"></input>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-1 col-xs-1"></div>
			</div>
		</div>
		<!--End of Contact module-->
	</div>
</div>