<div ng-controller="loginController" class="container-fluid">
	<div class="row">
		<!--Start of Login module-->
		<div class="col-md-4 col-md-push-4">
			<div class="row">
				<div class="col-md-2 col-xs-1"></div>
				<div class="col-md-8 col-xs-10 dropShadow" style="background-color:white;">
					<span class="h1">Login</span>
					<div id="errorMessage" class="alert alert-danger" ng-show="errorMessage">
						{{message}}
					</div>
					<form class="form-horizontal" ng-submit="submit()">
						<div class="form-group">
							<label for="userNameBox" class="col-md-4 control-label"><span ng-click="showModal()"  class="icon-large glyphicon glyphicon-question-sign"></span> User Name:</label>
							<div class="col-md-8">
								<input id="userNameBox" type="text" ng-model="user.user_loginId" class="form-control" placeholder="User Name"/>
							</div>
						</div>
						<div class="form-group">
							<label for="passwordBox" class="col-md-4 control-label">Password:</label>
							<div class="col-md-8">
								<input id="passwordBox" type="password" ng-model="user.user_password" class="form-control" placeholder="Password"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-4 col-md-12">
								<input type="checkbox" ng-model="user.remember"> <label for="rememberCheck">Remember Me</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-4 col-md-10">
								<input type="submit"value="Sign in" class="btn btn-primary"></input>	
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-2 col-xs-1"></div>
			</div>
		</div>
		<!--End of Login module-->
		<!--Start of Announcement module-->
		<div class="col-md-4 col-md-pull-4">
			<div class="row">
				<div class="col-md-1 col-xs-1"></div>
				<div class="col-md-10 col-xs-10 dropShadow loginMinHeight" style="background-color:white;">
					<span class="h1">Announcements</span>
					<div class="row" ng-repeat="announce in announcements">
						<a href="{{announce.link}}"class="h2">{{announce.title}}</a>
					</div>
				</div>
				<div class="col-md-1 col-xs-1"></div>
			</div>
		</div>
		<!--End of Announcement module-->
		<!--Start of Contact module-->
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-1 col-xs-1"></div>
				<div class="col-md-10 col-xs-10 dropShadow loginMinHeight"  style="background-color:white;">
					<span class="h1">Contact</span>
				</div>
				<div class="col-md-1 col-xs-1"></div>
			</div>
		</div>
		<!--End of Contact module-->
	</div>
	  <script type="text/ng-template" id="loginModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Login Issues</h3>
        </div>
        <div class="modal-body">
            <p>Login using your CalU email and password
            <br>If your credentials continue to fail, please contact either:
            <br>Joshua Van Allen @ van4680@calu.edu   -or-
            <br>Kevin Jackson	 @ jac7785@calu.edu	
            <br><br>You can also contact U-Tech services for further assistance.
            <br>123-456-7890 
            </p>
        </div>
        <div class="modal-footer">
            <button id="modalCloseBtn" class="btn btn-primary" ng-click="ok()">Close</button>
        </div>
    </script>
</div>