<div ng-controller="postLoginController" class="container-fluid">
	<div class="row">
		<!--Actions Section-->
		<div class="col-md-4 col-md-push-4">
			<div class="row">
				<div class="col-md-1 col-xs-1"></div>
				<div class="col-md-10 col-xs-10 dropShadow loginMinHeight" style="background-color:white;">
					<div class = "list-group">
						<h4 class="list-group-heading">Actions</h4>
						<a href="" class = "list-group-item" ng-click="setSearch($event)">Search for Classes</a>
						<a href="" class = "list-group-item" ng-click="setRegister($event)">Register for Classes</a>
					</div>
				</div>
				<div class="col-md-1 col-xs-1"></div>
			</div>
		</div>
		<!--End Actions-->
		<!--Classes Section-->
		<div class="col-md-4 col-md-pull-4">
			<div class="row">
				<div class="col-md-1 col-xs-1"></div>
				<div class="col-md-10 col-xs-10 dropShadow loginMinHeight" style="background-color:white;">
					<div class="list-group">
						<h4 class="list-group-heading">Current Classes</h4>
						<a href="" class = "list-group-item"  ng-repeat = "coursesSubject in courseSub"></a>
					</div>
					<hr/>
					<!-- <div class = "btn-group">
						
						<button type="button" class="btn btn-primary dropdown-toggle scrollable-menu" id="semesterBtn" dropdown-toggle ng-disabled="disabled">
							{{selectedSemester.term_name||"Semester"}}  <span class="caret"></span>
						</button>
						<ul class = "dropdown-menu">
							<li ng-repeat="semester in semesters"><a href="" ng-click="" id="{{semester.term_value}}">
							{{semester.term_name}}</a>
							</li>
						</ul>
					</div>-->
					<h4 class = "list-group-heading">View Other Semesters</h4>
					<div class="btn-group" dropdown is-open="status.isopen">
				<button type="button" class="btn btn-primary dropdown-toggle scrollable-menu" id="semesterBtn" dropdown-toggle ng-disabled="disabled">
				{{selectedSemester.term_name||"Semester"}}  <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
				<li ng-repeat="semester in semesters">
				<a href="" ng-click="setSemester(semester, $event)" id="{{semester.term_value}}">{{semester.term_name}}</a>
				</li>
				</ul>
			</div>
				</div>
				<div class="col-md-1 col-xs-1"></div>
			</div>
		</div>
		<!--End Classes-->
		<!--Permits Sections-->
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-1 col-xs-1"></div>
				<div class="col-md-10 col-xs-10 dropShadow loginMinHeight"  style="background-color:white;">
					<div class = "list-group">
					<h4 class = "list-group-heading">Permit Actions</h4>
						<a href="" class = "list-group-item" ng-click="setViewPermits($event)">View Permits</a>
						<a href="" class = "list-group-item" ng-click="setRequestPermit($event)">Request Permit</a>
					</div>
				</div>
				<div class="col-md-1 col-xs-1"></div>
			</div>
		</div>
		<!--End permits-->
	</div>
</div>