<div ng-controller="registerController" class="container-fluid">
	<div class = "row">
		<div class = "col-xs-2"></div>
		<div class = "col-xs-8 dropShadow loginMinHeight" style="background-color:white;">
			<h3>Register for Classes</h3>
			<accordion close-others=false>
			    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
			    	<accordion-heading>
			        	{{group.title}} ({{group.no}})
			        	<div class="pull-right btn-group btn-group-xs">
				            <button class="btn btn-primary pull-right" ng-click="addGroup(group, $event)">+</button>
				            <button class="btn btn-default pull-right" ng-click="removeGroup($index, $event)" 
			        			ng-show="$index">-</button>
			          	</div>
			    	</accordion-heading>
			    	{{group.content}}
			    	<br>
			    	<br>
			    	<div class = "form-group" name ="myForm">
			    		<div "row">
			    			<div class = "col-xs-2">
			    				<input type = "text" name = "subject" placeholder = "Enter Course Subject"
			    				 required ng-pattern = "subRegex" ng-model="form[$index].courseSub">
			    			</div>
			    			<div class = "col-xs-1"></div> 
			    				<div class = "visible-xs"> <br><br> </div>
			    				<div class = "visible-sm"> <br><br> </div>
			    			<div class = "col-xs-2">
			    				<input type = "text" id = "courseNumber" placeholder = "Enter Course Number"
			    				 required ng-pattern = "numRegex" ng-model="form[$index].courseNum">
			    			</div>
			    			<div class = "col-xs-1"></div>
			    				<div class = "visible-xs"> <br><br> </div>
			    				<div class = "visible-sm"> <br><br> </div>
			    			<div class = "col-xs-1">
			    				<div class="dropdown">
 									 <button class="btn btn-default dropdown-toggle" id = "sectionNum" type="button" data-toggle="dropdown" ng-model="form[$index].sectionNum">{{"Section" || course.selectedSection}}
  									<span class="caret"></span></button>
			    				</div>
			    			</div>
			    			<div class = "col-xs-1"></div>
			    				<div class = "visible-xs"> <br><br> </div>
			    				<div class = "visible-sm"> <br><br> </div>
			    			<div class = "col-xs-4">
			    				<input type = "text" id = "courseInfo" placeholder = "Course Info" disabled>
			    			</div>
			    		</div>
			    	</div>
			    </accordion-group>
			</accordion>
			<button class="btn btn-primary pull-right" ng-click = "testUndefined()">Submit</button>
		</div>
		<div class = "col-xs-2"></div>
	</div>
</div>
