<div ng-controller="requestPermitController" class="container-fluid">
	<div class = "row">
		<div class = "col-xs-1"></div>
		<div class = "col-xs-10 dropShadow loginMinHeight" style="background-color:white;">
			<div class = "form-group">
			<h3>Request Permit</h3>
			<br>
			<br>
			<div class = "well well-lg">
    			<div class = "row">
	    			<div class = "col-xs-2">
	    				<input type = "text" id = "courseSubject" placeholder = "Enter Course Subject..."
	    				 required ng-model="info[$index].courseSub">
	    			</div>
	    				<div class = "col-xs-1"></div>
	    				<div class = "visible-xs"> <br><br> </div>
	    				<div class = "visible-sm"> <br><br> </div>
	    			<div class = "col-xs-2">
	    				<input type = "text" id = "courseNumber" placeholder = "Enter Course Number..."
	    				 required ng-model="info[$index].courseNum">
	    			</div>
	    				<div class = "col-xs-1"></div>
	    				<div class = "visible-xs"> <br><br> </div>
	    				<div class = "visible-sm"> <br><br> </div>
	    			<div class = "col-xs-1">
	    				<div class="dropdown">
								 <button class="btn btn-default dropdown-toggle" id = "sectionNum" type="button" data-toggle="dropdown" ng-model="info[$index].courseSec">{{"Section" || course.selectedSection}}
								<span class="caret"></span></button>
	    				</div>
	    			</div>
	    				<div class = "col-xs-1"></div>
	    				<div class = "visible-xs"> <br><br> </div>
	    				<div class = "visible-sm"> <br><br> </div>
	    			<div class = "col-xs-4">
	    				<input type = "text" id = "courseInfo" placeholder = "Course Info" disabled>
	    			</div>
	    		</div>
	    		<br>
	    		<div class = "row">
	    			<textarea class="form-control" rows="3" ng-model = "info[$index].descript" placeholder="Reason for Permit..."></textarea>
	    		</div>
				<br>
	    		<div class = "row">
					<button class="btn btn-primary justified pull-right" ng-click = "submitRequest()">Send Request</button>
				</div>
	    	</div>
			</div>
		</div>
		<div class = "col-xs-1"></div>
	</div>
</div>