<div ng-controller="searchController" id="searchMainDiv" class="container-fluid">
	<div class="row">
		<div class="col-md-1 col-xs-1 "></div>
		<div class="col-md-10 col-xs-10 dropShadow loginMinHeight" style="background-color:white;">
			<br/>
			<div class="btn-group" dropdown is-open="status.isopen">
				<button type="button" class="btn btn-primary dropdown-toggle scrollable-menu" id="semesterBtn" dropdown-toggle ng-disabled="disabled">
				{{selectedSemester.term_name||"Semester"}}  <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
				<li ng-repeat="semester in semesters">
				<a href="" ng-click="setSemester(semester, $event)" id="{{semester.term_value}}">{{semester.term_name}}</a>
				</li>
				</ul>
			</div>
			<br/>
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-12">
					<div id="searchPanel" ng-show="selectedSemester">
						<div class="btn-group dropdown dropdown-scroll" dropdown>
							<button type="button" class="btn btn-primary dropdown-toggle" id="courseSubBtn" dropdown-toggle ng-disabled="disabled">
								{{selectedCourseSub || "Course Subject"}}  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li ng-repeat="coursesSubject in courseSub">
									<a href="" ng-click="setSubject(coursesSubject, $event)" id="{{coursesSubject.course_id}}">{{coursesSubject.course_subject}}</a>
								</li>
							</ul>
						</div>
						<div class="btn-group" dropdown>
							<button type="button" class="btn btn-primary dropdown-toggle scrollable-menu" id="courseNumBtn" dropdown-toggle ng-disabled="disabled">
								{{selectedCourseNum || "Course Number"}}  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li ng-repeat="coursesNumber in courseNum | filter:selectedCourseSub">
									<a href="" ng-click="setCourseNum(coursesNumber, $event)" id="{{coursesNum.courseNumberId}}">{{coursesSubject.courseNumberName}}</a>
								</li>
							</ul>
						</div>
						<br/>
						<br/>
							<div ng-show="selectedCourseSub">
							<form ng-submit="submit(selectedCourseSection)">
								<div accordion close-others="true" class="centerScreen col-md-12">
								<div accordion-group heading="{{course.course_subject + ' ' + course.course_num + ': ' + course.course_title}}" ng-repeat="course in courseSub | filter:selectedCourseSub">
								<p>{{course.course_desc}}</p>
									<div class="table-responsive">
										<table class="table table-hover table-condensed">
											<thead>
												<tr>
													<th></th>
													<th>Days</th>
													<th>Credits</th>
													<th>Time</th>
													<th>Campus</th>
													<th>Cap</th>
													<th>Taken</th>
													<th>Remaining</th>
													<th>Instructor</th>
													<th>Location</th>
												</tr>
											</thead>
											
											<tr ng-repeat="section in course.sections">
											<td><input type="radio" name="section" ng-model="$parent.$parent.$parent.$parent.selectedCourseSection" ng-value="section"/></td>
											<td>{{section.days}}</td>
											<td>{{course.course_LECF}}</td>
											<td>{{section.startTime}} - {{section.endTime}}</td>
											<td>{{section.campus}}</td>
											<td>{{section.cap}}</td>
											<td>{{section.act}}</td>
											<td>{{section.cap - section.act}}</td>
											<td>{{section.instructor}}</td>
											<td>{{section.location}}</td>
											</tr>
										</table>
									</div>
									<input type="submit"value="Register" class="btn btn-primary"></input>
									
									
								</div>
								</div>
								</form>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1 col-xs-1"></div>
	</div>
</div>